[Unit]
Description=Periodically recover File Server USB mounts

[Timer]
OnBootSec=10s
OnUnitInactiveSec=5min
AccuracySec=30s
Unit=file-server-usb-reconcile.service
Persistent=true

[Install]
WantedBy=timers.target

